<div id="app">
    <button class="tablink" @click="showForm('Home')">Home</button>
	<button class="tablink" @click="showForm('Fixtures')">Fixtures</button>
    <button class="tablink" @click="showForm('Groups')">Groups</button>
    <button class="tablink" @click="showForm('Knockouts')">Knockouts</button>

    <main>
        <div id="home" v-show="showHomeForm">
            <p>Home Form</p>
        </div>
            
        <div id="fixtures" v-show="showFixturesForm">
            <select name="sortBy" id="select" v-model="groupSelected">
                <option value="All">All</option>
                <option value="A">Group A</option>
                <option value="B">Group B</option>
                <option value="C">Group C</option>
                <option value="D">Group D</option>
                <option value="E">Group E</option>
                <option value="F">Group F</option>
                <option value="G">Group G</option>
                <option value="H">Group H</option>
              </select>
            <table>
                <tr v-for="fixture, index in filteredGroupFixtures">       
                    <td>{{ fixture.date }}</td>
                    <td>{{ fixture.time }}</td>
                    <td>Group {{ fixture.group }}</td>
                    <td><input type="number" v-model=fixture.teamOneGoals min="0" /> </td>
                    <td>{{ fixture.teamOne }} </td>
                    <td>vs </td>
                    <td>{{ fixture.teamTwo }} </td>
                    <td><input type="number" v-model=fixture.teamTwoGoals min="0" /></td>
                </tr>
            </table>

            <button @click="submitScores">Submit scores</button>

            <div v-if="groupSelected !== 'All'">
               <div v-for="group, index in groups" v-if="group.group === groupSelected">
                    <table id="group">
                        <thead>
                            <th>Team</th>
                            <th>Goals Scored</th>
                            <th>Goals Conceded</th>
                            <th>Points</th>
                        </thead>
                        <tr v-for="team in group.teams">
                            <td>{{ team.name }}</td>
                            <td>{{ team.goalsScored }}</td>
                            <td>{{ team.goalsConceded }}</td>
                            <td>{{ team.points }}</td>

                        </tr>
                    </table>
                    <br/>
                </div>
            </div>
        </div>

        <div id="groups" v-show="showGroupsForm">
            <div v-for="group, index in groups">
                    Group {{ group.group }}
                
                <table id="group">
                    <thead>
                        <th>Team</th>
                        <th>Goals Scored</th>
                        <th>Goals Conceded</th>
                        <th>Points</th>
                    </thead>
                    <tr v-for="team in group.teams">
                        <td>{{ team.name }}</td>
                        <td>{{ team.goalsScored }}</td>
                        <td>{{ team.goalsConceded }}</td>
                        <td>{{ team.points }}</td>

                    </tr>
                </table>
                <br/>
            </div>
        </div>

        <div id="knockouts" v-show="showKnockoutsForm">
            <p>Knockouts Form</p>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

<script>
const app = new Vue({
    el: '#app',
    data: {
        showHomeForm: true,
        showFixturesForm: false,
        showGroupsForm: false,
        showKnockoutsForm: false,
        groupSelected: 'All',
        groups: [
            { 
                "group": "A",
                "teams" : [
                    { "name": "Qatar", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Ecuador", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Senegal", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Netherlands", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "B",
                "teams" : [
                    { "name": "England", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Iran", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "USA", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Wales", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "C",
                "teams" : [
                    { "name": "Argentina", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Saudi Arabia", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Mexico", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Poland", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "D",
                "teams" : [
                    { "name": "France", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Australia", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Denmark", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Tunisia", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "E",
                "teams" : [
                    { "name": "Spain", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Costa Rica", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Germany", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Japan", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "F",
                "teams" : [
                    { "name": "Belgium", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Canada", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Morocco", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Croatia", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "G",
                "teams" : [
                    { "name": "Brazil", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Serbia", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Switzerland", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Cameroon", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
            { 
                "group": "H",
                "teams" : [
                    { "name": "Portugal", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Ghana", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "Uruguay", "points": 0, "goalsScored": 0, "goalsConceded": 0},
                    { "name": "South Korea", "points": 0, "goalsScored": 0, "goalsConceded": 0}
                ]
            },
        ],
        groupFixtures: [
            {"teamOne": "Qatar", "teamOneGoals": 0, "teamTwo": "Ecuador", "teamTwoGoals": 0, "date": "20-11-2022", "time": "19:00", "group": "A"},
            {"teamOne": "England", "teamOneGoals": 0, "teamTwo": "Iran", "teamTwoGoals": 0, "date": "21-11-2022", "time": "13:00", "group": "B"},
            {"teamOne": "Senegal", "teamOneGoals": 0, "teamTwo": "Netherlands", "teamTwoGoals": 0, "date": "21-11-2022", "time": " 16:00", "group": "A"},
            {"teamOne": "USA", "teamOneGoals": 0, "teamTwo": "Wales", "teamTwoGoals": 0, "date": "21-11-2022", "time": " 16:00", "group": "B"},
            {"teamOne": "Argentina", "teamOneGoals": 0, "teamTwo": "Saudi Arabia", "teamTwoGoals": 0, "date": "22-11-2022", "time": " 10:00", "group": "C"},
            {"teamOne": "Denmark", "teamOneGoals": 0, "teamTwo": "Tunisia", "teamTwoGoals": 0, "date": "22-11-2022", "time": " 13:00", "group": "D"},
            {"teamOne": "Mexico", "teamOneGoals": 0, "teamTwo": "Poland", "teamTwoGoals": 0, "date": "22-11-2022", "time": " 16:00", "group": "C"},
            {"teamOne": "France", "teamOneGoals": 0, "teamTwo": "Australia", "teamTwoGoals": 0, "date": "22-11-2022", "time": " 19:00", "group": "D"},
            {"teamOne": "Morocco", "teamOneGoals": 0, "teamTwo": "Croatia", "teamTwoGoals": 0, "date": "23-11-2022", "time": " 10:00", "group": "F"},
            {"teamOne": "Germany", "teamOneGoals": 0, "teamTwo": "Japan", "teamTwoGoals": 0, "date": "23-11-2022", "time": " 13:00", "group": "E"},
            {"teamOne": "Spain", "teamOneGoals": 0, "teamTwo": "Costa Rica", "teamTwoGoals": 0, "date": "23-11-2022", "time": " 16:00", "group": "E"},
            {"teamOne": "Belgium", "teamOneGoals": 0, "teamTwo": "Canada", "teamTwoGoals": 0, "date": "23-11-2022", "time": " 19:00", "group": "F"},
            {"teamOne": "Switzerland", "teamOneGoals": 0, "teamTwo": "Cameroon", "teamTwoGoals": 0, "date": "24-11-2022", "time": " 10:00", "group": "G"},
            {"teamOne": "Uruguay", "teamOneGoals": 0, "teamTwo": "South Korea", "teamTwoGoals": 0, "date": "24-11-2022", "time": " 13:00", "group": "H"},
            {"teamOne": "Portugal", "teamOneGoals": 0, "teamTwo": "Ghana", "teamTwoGoals": 0, "date": "24-11-2022", "time": " 16:00", "group": "H"},
            {"teamOne": "Brazil", "teamOneGoals": 0, "teamTwo": "Serbia", "teamTwoGoals": 0, "date": "24-11-2022", "time": " 19:00", "group": "G"},
            {"teamOne": "Wales", "teamOneGoals": 0, "teamTwo": "Iran", "teamTwoGoals": 0, "date": "25-11-2022", "time": " 10:00", "group": "B"},
            {"teamOne": "Qatar", "teamOneGoals": 0, "teamTwo": "Senegal", "teamTwoGoals": 0, "date": "25-11-2022", "time": " 13:00", "group": "A"},
            {"teamOne": "Netherlands", "teamOneGoals": 0, "teamTwo": "Ecuador", "teamTwoGoals": 0, "date": "25-11-2022", "time": " 16:00", "group": "A"},
            {"teamOne": "England", "teamOneGoals": 0, "teamTwo": "USA", "teamTwoGoals": 0, "date": "25-11-2022", "time": " 19:00", "group": "B"},
            {"teamOne": "Tunisia", "teamOneGoals": 0, "teamTwo": "Australia", "teamTwoGoals": 0, "date": "26-11-2022", "time": " 10:00", "group": "D"},
            {"teamOne": "Poland", "teamOneGoals": 0, "teamTwo": "Saudi Arabia", "teamTwoGoals": 0, "date": "26-11-2022", "time": " 13:00", "group": "C"},
            {"teamOne": "France", "teamOneGoals": 0, "teamTwo": "Denmark", "teamTwoGoals": 0, "date": "26-11-2022", "time": " 16:00", "group": "D"},
            {"teamOne": "Argentina", "teamOneGoals": 0, "teamTwo": "Mexico", "teamTwoGoals": 0, "date": "26-11-2022", "time": " 19:00", "group": "C"},
            {"teamOne": "Japan", "teamOneGoals": 0, "teamTwo": "Costa Rica", "teamTwoGoals": 0, "date": "27-11-2022", "time": " 10:00", "group": "E"},
            {"teamOne": "Belgium", "teamOneGoals": 0, "teamTwo": "Morocco", "teamTwoGoals": 0, "date": "27-11-2022", "time": " 13:00", "group": "F"},
            {"teamOne": "Croatia", "teamOneGoals": 0, "teamTwo": "Canada", "teamTwoGoals": 0, "date": "27-11-2022", "time": " 16:00", "group": "F"},
            {"teamOne": "Spain", "teamOneGoals": 0, "teamTwo": "Germany", "teamTwoGoals": 0, "date": "27-11-2022", "time": " 19:00", "group": "E"},
            {"teamOne": "Cameroon", "teamOneGoals": 0, "teamTwo": "Serbia", "teamTwoGoals": 0, "date": "28-11-2022", "time": " 10:00", "group": "G"},
            {"teamOne": "South Korea", "teamOneGoals": 0, "teamTwo": "Ghana", "teamTwoGoals": 0, "date": "28-11-2022", "time": " 13:00", "group": "H"},
            {"teamOne": "Brazil", "teamOneGoals": 0, "teamTwo": "Switzerland", "teamTwoGoals": 0, "date": "28-11-2022", "time": " 16:00", "group": "G"},
            {"teamOne": "Portugal", "teamOneGoals": 0, "teamTwo": "Uruguay", "teamTwoGoals": 0, "date": "28-11-2022", "time": " 19:00", "group": "H"},
            {"teamOne": "Ecuador", "teamOneGoals": 0, "teamTwo": "Senegal", "teamTwoGoals": 0, "date": "29-11-2022", "time": " 15:00", "group": "A"},
            {"teamOne": "Netherlands", "teamOneGoals": 0, "teamTwo": "Qatar", "teamTwoGoals": 0, "date": "2-11-2022", "time": " 15:00", "group": "A"},
            {"teamOne": "Iran", "teamOneGoals": 0, "teamTwo": "USA", "teamTwoGoals": 0, "date": "29-11-2022", "time": " 19:00", "group": "B"},
            {"teamOne": "Wales", "teamOneGoals": 0, "teamTwo": "England", "teamTwoGoals": 0, "date": "29-11-2022", "time": " 19:00", "group": "B"},
            {"teamOne": "Tunisia", "teamOneGoals": 0, "teamTwo": "France", "teamTwoGoals": 0, "date": "30-11-2022", "time": " 15:00", "group": "D"},
            {"teamOne": "Australia", "teamOneGoals": 0, "teamTwo": "Denmark", "teamTwoGoals": 0, "date": "30-11-2022", "time": " 15:00", "group": "D"},
            {"teamOne": "Poland", "teamOneGoals": 0, "teamTwo": "Argentina", "teamTwoGoals": 0, "date": "30-11-2022", "time": " 19:00", "group": "C"},
            {"teamOne": "Saudi Arabia", "teamOneGoals": 0, "teamTwo": "Mexico", "teamTwoGoals": 0, "date": "30-11-2022", "time": " 19:00", "group": "C"},
            {"teamOne": "Croatia", "teamOneGoals": 0, "teamTwo": "Belgium", "teamTwoGoals": 0, "date": "01-12-2022", "time": " 15:00", "group": "F"},
            {"teamOne": "Canada", "teamOneGoals": 0, "teamTwo": "Morocco", "teamTwoGoals": 0, "date": "01-12-2022", "time": " 15:00", "group": "F"},
            {"teamOne": "Japan", "teamOneGoals": 0, "teamTwo": "Spain", "teamTwoGoals": 0, "date": "01-12-2022", "time": " 19:00", "group": "E"},
            {"teamOne": "Costa Rica", "teamOneGoals": 0, "teamTwo": "Germany", "teamTwoGoals": 0, "date": "01-12-2022", "time": " 19:00", "group": "E"},
            {"teamOne": "South Korea", "teamOneGoals": 0, "teamTwo": "Portugal", "teamTwoGoals": 0, "date": "02-12-2022", "time": " 15:00", "group": "H"},
            {"teamOne": "Ghana", "teamOneGoals": 0, "teamTwo": "Uruguay", "teamTwoGoals": 0, "date": "02-12-2022", "time": " 15:00", "group": "H"},
            {"teamOne": "Serbia", "teamOneGoals": 0, "teamTwo": "Switzerland", "teamTwoGoals": 0, "date": "02-12-2022", "time": " 19:00", "group": "G"},
            {"teamOne": "Cameroon", "teamOneGoals": 0, "teamTwo": "Brazil", "teamTwoGoals": 0, "date": "02-12-2022", "time": " 19:00", "group": "G"},
        
        ]
    },
    methods: {
        showForm(formName) {
            this.showHomeForm = false;
            this.showFixturesForm = false;
            this.showGroupsForm = false;
            this.showKnockoutsForm = false;

            switch(formName){
                case 'Home':
                    this.showHomeForm = true;
                    break;
                case 'Fixtures':
                    this.showFixturesForm = true;
                    break;
                case 'Groups':
                    this.showGroupsForm = true;
                    break;
                case 'Knockouts':
                    this.showKnockoutsForm = true;
                    break;
                default:
                    break;
            }
        },
        submitScores() {
            this.groups.forEach(group => {
                group.teams.forEach(team => {
                    team.points = 0;
                    team.goalsScored = 0;
                    team.goalsConceded = 0;
                })
            });

            this.groupFixtures.forEach(fixture => {
                const getGroup = this.groups.filter(x => x.group === fixture.group);
                const group = getGroup[0];
                const getTeamOne = group.teams.filter(x => x.name === fixture.teamOne);
                const teamOne = getTeamOne[0];
                const getTeamTwo = group.teams.filter(x => x.name === fixture.teamTwo);
                const teamTwo = getTeamTwo[0];

                teamOne.goalsScored += fixture.teamOneGoals;
                console.log(teamOne.name, teamOne.goalsScored)
                teamTwo.goalsScored += fixture.teamTwoGoals;
                teamOne.goalsConceded += fixture.teamTwoGoals;
                teamTwo.goalsConceded += fixture.teamOneGoals;

                if(fixture.teamOneGoals > fixture.teamTwoGoals) {
                    teamOne.points += 3;
                } 

                if(fixture.teamTwoGoals > fixture.teamOneGoals) {
                    teamTwo.points += 3;
                } else {
                    teamOne.points += 1;
                    teamTwo.points += 1;
                }
            });
        }
    },
    computed: {
    filteredGroupFixtures() {
        let tempGroupFixtures = this.groupFixtures
        
        if(this.groupSelected === "All") {
            return tempGroupFixtures;
        }
        tempGroupFixtures = tempGroupFixtures.filter(f => f.group === this.groupSelected)
        return tempGroupFixtures;
    }
}
})
</script>

<style>
    @import 'style.css';
</style>